
{% extends "stats/base.html" %}
{% load humanize %}
{% load table %}

{% block title %}Broker | {{property.name}}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'home' %}">Home</a>
    &rsaquo; <a href="{% url 'brokers' %}">Brokers</a>
    &rsaquo; {{broker_url}}
</div>
{% endblock %}


{% block content %}

<table>
<thead>
    <tr>
        {% column_header topics 'namespace__name' 'Namespace' %}
        {% column_header topics 'name' 'Topic' %}
        {% column_header topics 'msgRateIn' 'Msg/s in' %}
        {% column_header topics 'msgRateOut' 'Msg/s out' %}
        {% column_header topics 'msgThroughputIn' 'Bytes/s in' %}
        {% column_header topics 'msgThroughputOut' 'Bytes/s out' %}
        {% column_header topics 'backlog' 'Backlog' %}
    </tr>
</thead>
<tbody>

{% for topic in topics.results %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <th><a href="{% url 'namespace' topic.namespace.name %}">{{topic.namespace}}</a></th>
        <th><a href="{{topic.get_absolute_url}}">{{topic.short_name}}</a></th>
        <td>{{topic.msgRateIn | intcomma}}</td>
        <td>{{topic.msgRateOut | intcomma}}</td>
        <td>{{topic.msgThroughputIn | intcomma}}</td>
        <td>{{topic.msgThroughputOut | intcomma}}</td>
        <td>{{topic.backlog | intcomma}}</td>
    </tr>
{% empty %}
    <tr><td>No topics</td></tr>
{% endfor %}
</tbody>
</table>

{% table_footer topics %}


{% endblock %}
